<%= render 'shared/header' %>

<div class='main'>
  <div class="container">
    <%= render 'shared/sidebar' %>

    <div class="main-content">
      <div class="mypage">
        <div class="myprofile">
          <div class="profile-header">
            <div class="profile-pic">
              <!-- プロフィール画像を表示 -->
              <%= image_tag @user.image, alt: "Profile Picture", class: "avatar" %>
            </div>
            <div class="profile-name">
              <h2><%= @user.nickname %></h2>
            </div>
          </div>
          <div class="profile-details">
            <div class="profile-item">
              <h3>自己紹介</h3>
              <p><%= @user.profile %></p>
            </div>
            <div class="profile-item">
              <h3>学習時間</h3>
              <p><%= '#' %> 時間</p>
            </div>
          </div>
          <div class="edit-button">
            <%= link_to '編集', '#', class: 'btn btn-primary' %>
          </div>
        </div>

        <%= render 'shared/post_index', posts: @posts %>

      </div>
    </div>
  </div>
</div>