<%= render 'shared/header' %>

<div class='main'>
  <div class="container">
    <%= render 'shared/sidebar' %>

    <div class="main-content">
      <div class="mypage">
        <div class="myprofile">
          <div class="profile-header">
            <div class="profile-pic">
              <!-- сЃЌсЃГсЃЋсѓБсЃ╝сЃФућ╗тЃЈсѓњУАеуц║ -->
              <%= image_tag @user.image, alt: "Profile Picture", class: "avatar" %>
            </div>
            <div class="profile-name">
              <h2><%= @user.nickname %></h2>
            </div>
          </div>
          <div class="profile-details">
            <div class="profile-item">
              <h3>УЄфти▒у┤╣С╗І</h3>
              <p><%= @user.profile %></p>
            </div>
            <div class="profile-item">
              <h3>тГду┐њТЎѓжќЊ</h3>
              <p><%= '#' %> ТЎѓжќЊ</p>
            </div>
          </div>
          <div class="edit-button">
            <%= link_to 'уиежЏє', '#', class: 'btn btn-primary' %>
          </div>
        </div>

        <div class="content-box">
          <div class="header">
            <div class="search-bar">
              <input type="text" placeholder="Тцюу┤б...">
            </div>
            <div class="user-info">
              <div class="user-icon">­ЪЉц</div>
              <div class="user-name">user</div>
              <div class="notifications">­Ъћћ</div>
              <div class="settings">РџЎ№ИЈ</div>
            </div>
          </div>
          <div class="content">
            <div class="post">
              <div class="post-header">
                <div class="post-user">сЃдсЃ╝сѓХсЃ╝тљЇ</div>
                <div class="post-date">2024-06-20</div>
              </div>
              <div class="post-body">
                <p>ТіЋуе┐тєЁт«╣1</p>
              </div>
            </div>
            <div class="post">
              <div class="post-header">
                <div class="post-user">сЃдсЃ╝сѓХсЃ╝тљЇ</div>
                <div class="post-date">2024-06-19</div>
              </div>
              <div class="post-body">
                <p>ТіЋуе┐тєЁт«╣2</p>
              </div>
            </div>
            <div class="post">
              <div class="post-header">
                <div class="post-user">сЃдсЃ╝сѓХсЃ╝тљЇ</div>
                <div class="post-date">2024-06-18</div>
              </div>
              <div class="post-body">
                <p>ТіЋуе┐тєЁт«╣3</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>