<header class='top-page-header'>
  <div class='title'>
    <%= link_to 'Study Syncron', root_path %>
  </div>
  <div class='nav'>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "#{current_user.nickname}", user_path(current_user.id) %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } %></li>
        <li><%= link_to 'カレンダー', '#' %></li>
        <li><%= link_to '投稿', '#' %></li>
      <% else %>
        <li><%= link_to '新規登録', new_user_registration_path %></li>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</header>