<%= render "shared/header" %>

<div class='main'>
  <div class="container">
    <%= render 'shared/sidebar' %>

    <div class="main-content">
      <div class="content-box">
        <div class="header">
          <div class="search-bar">
            <input type="text" placeholder="検索...">
          </div>
          <div class="user-info">
            <div class="user-icon">👤</div>
            <div class="user-name">user</div>
            <div class="notifications">🔔</div>
            <div class="settings">⚙️</div>
          </div>
        </div>

        <div class="content">
          <% @posts.each do |post| %>
            <div class="post">
              <div class="post-header">
                <div class="post-user"><%= post.user.nickname %></div>
                <div class="post-date"><%= post.created_at %></div>
              </div>
              <div class="post-body">
                <p><%= post.title %></p>
              </div>
              <div class="post-footer">
                <div class="post-tag">
                  <div>#TEST投稿</div>
                </div>
                <div class="post-nav">
                  <ul>
                    <li>フォロー</li>
                    <li>お気に入り</li>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>