<%= render 'shared/header' %>

<div class="main">
  <div class="post-detail-container">
    <div class="post-show-header">
      <h1 class="post-show-title"><%= @post.title %></h1>
      <div class="post-show-meta">
        <span class="post-show-author"><%= "#{@post.user.nickname}さんの投稿内容" %></span>
        <span class="post-show-date"><%= @post.created_at.strftime("%Y-%m-%d %H:%M") %></span>
      </div>
      <% if user_signed_in? && current_user.id == @post.user.id %>
        <div class="post-show-actions">
          <%= link_to '編集', edit_post_path(@post.id), class: 'btn edit-btn' %>
          <%= link_to '削除', post_path(@post.id), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？\n1度削除すると元に戻せません!" }, class: 'btn delete-btn' %>
        </div>
      <% end %>
    </div>
    <div class="post-show-content">
      <%= markdown(@post.content) %>
    </div>
  </div>
</div>

<script>
  hljs.highlightAll();
</script>